

.header {
    background-image: linear-gradient(rgba (0,0,0,0.4), rgba(0,0,0,0.4), url ("../images/florida.jpg"));
    background-size: cover;
    background-repeat: no-repeat;
}
.header-container {
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    font-size: 60px;
    font-weight:700;
    font-family: poppins;
}
 
    background-image: linear-gradient(rgba (0,0,0,0.4), rgba(0,0,0,0.4), url ("/..images/floridabeach.jpg"));
    background-repeat: no-repeat;
    background-size: cover;
